html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.site-wrapper {
  min-width: 1200px;
  background-image: url("../img/icecream-main-1.png");
  background-repeat: no-repeat;
  background-position: top center;
}
